.idea/
.venv/
__pycache__/
.env*
checkpoints/
fixtures/
training*
.env
*.tar.gz
seismic/static/gem_active_faults.geojson
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
node_modules/
cypress/screenshots/
cypress/videos/
cypress/downloads/
